.App {
  text-align: center;
}

.App-logo {
  height: 23vmin;
  pointer-events: none;
}

.l2 {
  height: 10vmin;
}

.l3 {
  height: 4vmin;
}

.w3-button {
  margin-top: 20px;
  width: 300px;
}

.w3-row-padding {
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("/src/이거다.gif");
  background-size: cover;
  /* background-color: white; */
  min-height: 34vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
